CLOUDTAK_Mode=docker-compose
CLOUDTAK_Config_media_url=http://media

SigningSecret=coe-wildland-fire

ASSET_BUCKET=cloudtak
AWS_S3_Endpoint=http://store:3900
AWS_S3_AccessKeyId=cloudtakstoreadmin
AWS_S3_SecretAccessKey=cloudtakstoreadmin
GARAGE_RPC_SECRET=0000000000000000000000000000000000000000000000000000000000000000

POSTGRES=postgres://docker:docker@postgis:5432/gis

API_URL=http://localhost:5000
PMTILES_URL=http://tiles:5002
