# CloudTAK Configuration Environment Variables
# Copy this file to cloudtak-config.env and customize for your deployment

# TAK User Group Configuration for New Zealand Emergency Services
CLOUDTAK_Config_group_Blue=New Zealand Police
CLOUDTAK_Config_group_Red=Fire and Emergency New Zealand (FENZ)
CLOUDTAK_Config_group_Yellow=Hato Hone St John
CLOUDTAK_Config_group_White=Wellington Free Ambulance
CLOUDTAK_Config_group_Purple=National Emergency Management Agency (NEMA)
CLOUDTAK_Config_group_Brown=New Zealand Defence Force (NZDF)
CLOUDTAK_Config_group_Maroon=New Zealand Red Cross
CLOUDTAK_Config_group_Orange=Land Search and Rescue New Zealand (LandSAR)
CLOUDTAK_Config_group_Teal=Coastguard New Zealand
CLOUDTAK_Config_group_Green=Department of Conservation (DOC)
CLOUDTAK_Config_group_Cyan=Health New Zealand (Te Whatu Ora)
CLOUDTAK_Config_group_Dark_Blue=New Zealand Customs Service

# Map Configuration - Centered on New Zealand
CLOUDTAK_Config_map_center=174.7762,-41.2865
CLOUDTAK_Config_map_zoom=5
CLOUDTAK_Config_map_pitch=0
CLOUDTAK_Config_map_bearing=0

