div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: relative;
}

svg.icons {
    display: none;
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

svg.menu.inner {
    transform: scale(0.66) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    transform: scale(1.5) rotate(10deg);
    opacity: 0;
    visibility: hidden;
}

g.sector {
    pointer-events: visiblePainted;
}

svg.menu > g > path {
    fill: #000000c0;
}

svg.menu > g.sector > path {
    cursor: pointer;
    /*transition: 0.1s;*/
}

svg.menu > g.sector > text,
svg.menu > g.sector > use {
    cursor: pointer;
    fill: white;

    /*text-shadow: 1px 1px 0 #000000A0;*/
}

svg.menu > g.sector:hover > path {
    fill: #F9A602D0;

}

svg.menu > g.sector.selected > path {
    /*fill: #F9A602D0;*/
    /*fill: #009900D0 !important;*/
    fill: #32CD32D0 !important;
}

svg.menu > g.center:hover > circle {
    fill: #F9A602D0;
}

svg.menu > g.center > circle {
    cursor: pointer;
    fill: #00000080;
}

svg.menu > g.center > text,
svg.menu > g.center > use {
    cursor: pointer;
    fill: white;
}

.radial-menu-popup .maplibregl-popup-content {
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.radial-menu-popup .maplibregl-popup-tip {
    display: none;
}
