name: NPM Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6

      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1

      - name: Generate CHANGELOG
        run: grep -Pzo "### ${{steps.tag.outputs.tag}}(?s).*?(?=###)" CHANGELOG.md > RELEASE

      - name: Github Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: RELEASE
